body {
    background-color: #EAF6F6;
}

hr {
    background-color: none;
    border-style: dotted none none none;
    width: 10%;
    border-width: 5px;
    border-color: gray;
}

h1 {
    color: #66BFBF;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: #598b8b;
    font-family: Arial, Helvetica, sans-serif;
}